<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


    <head th:replace="admin/fragment/fragments:: page_head"></head>

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .nav-item:hover .nav-link {
            font-weight: bold;
        }
        .tracking nav ul li a {
            color: #050505;
            display: block;
            font-size: 14px;
            line-height: 55px;
            transition: all 300ms ease 0s;
            text-align: center;
            text-decoration: none;
        }

        .tracking nav ul li {
            /*border-bottom: 2px solid orange;*/
            display: inline-block;
            width: 12%;

        }
        .tracking nav ul li a:hover {
            color: #FF4F4F;
        }
        .tracking nav ul li a:active {
            color: #FF4F4F;
            border-bottom: 2px solid #FF4F4F;
        }
        .tracking nav ul .active{
            border-bottom: 2px solid #FF4F4F;
        }
        .tracking nav ul .active a{
            color: #FF4F4F;
        }

        .breadcrumb {
            background-color: #f2f2f2;
            padding: 10px;
            font-size: 14px;
            display: flex;
            align-items: center;
            padding: 5px 20px;
        }

        .breadcrumb a {
            color: #666;
            text-decoration: none;
            font-weight: bold;
            margin-right: 10px;
            margin-left: 10px;
            font-size: 20px;
        }
    </style>

    <body class="sb-nav-fixed" id="content">

    <div th:replace="admin/fragment/navigation:: navbar"></div>

        <!-- Article NAV -->
        <div id="layoutSidenav">
            <div th:replace="admin/fragment/navigation:: menu"></div>

            <!-- aside -->
            <div id="layoutSidenav_content">
                <!-- MAIN-CONTENT-SECTION START -->
                <section class="main-content-section">
                    <div class="row">
                        <div class="breadcrumb">
                            <a href="#">Đơn hàng</a>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="box-shadow: #bbbbc1 -1px 0px 5px 0px; margin-bottom: 30px">
                                <div class="tracking">
                                    <nav>
                                        <ul class="list-tracking" >
                                            <li class="active"><a href="#" data-api="99" data-toggle="tab">Tất cả</a> </li>
                                            <li><a href="#"  data-toggle="tab" data-api="0">Chờ xác nhận </a> </li>
                                            <li > <a href="#"  data-toggle="tab" data-api="1">Đang chuẩn bị</a> </li>
                                            <li> <a href="#" data-toggle="tab" data-api="2">Đang giao</a></li>
                                            <li> <a href="#" data-toggle="tab" data-api="3">Hoàn thành</a></li>
                                            <li > <a href="#" data-toggle="tab" data-api="4">Đã hủy</a></li>
                                            <li > <a href="#"  data-toggle="tab" data-api="5">Trả hàng / Hoàn hiền</a> </li>
                                            <li > <a href="#" data-toggle="tab" data-api="6">Đã hoàn trả</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-content" >
                                <div>
                                    <div class="shipping-cart" >
                                        <form method="GET">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <label class="sr-only" for="start">Ngày bắt đầu</label>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">Ngày bắt đầu</div>
                                                        </div>
                                                        <input type="date" class="form-control" id="start" name="dateStart">
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <label class="sr-only" for="end">Ngày kết thúc</label>
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">Ngày kết thúc</div>
                                                        </div>
                                                        <input type="date" class="form-control" id="end" name="dateEnd">
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <button type="submit" style="width: 100%" class="btn btn-outline-dark mb-2" th:formaction="@{'/admin/don-hang/search/date'}">Tìm kiếm</button>
                                                </div>
                                            </div>
                                        </form>

                                        <table id="date" class="table table-bordered table-striped table-hover table-responsive-xl" style="margin-top: 20px">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>#</th>
                                                    <th>Địa chỉ</th>
                                                    <th>Ngày giao hàng</th>
                                                    <th>Ngày tạo</th>
                                                    <th>Phí vận chuyển</th>
                                                    <th>Tổng tiền sản phẩm</th>
                                                    <th>Thành tiền</th>
                                                    <th>Trạng thái</th>
                                                    <Th>Action</Th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="cat, iterStat : ${list}">
                                                <td th:text="${__${iterStat.index + 1}__}">1</td>
                                                <td style="max-width: 220px">
                                                    [[${cat.diaChi}]],
                                                    [[${diaChiAPI.callGetPhuongXaAPI(cat.idQuanHuyen).get(cat.idPhuongXa)}]],
                                                    [[${diaChiAPI.callGetQuanHuyenAPI(cat.idTinhThanh).get(cat.idQuanHuyen)}]],
                                                    [[${diaChiCache.hashMapTinhThanh.get(cat.idTinhThanh)}]]
                                                </td>
                                                <td>[[${#dates.format(cat.ngayGiaoHang, 'dd-MM-yyyy')}]]</td>
                                                <td>[[${#dates.format(cat.ngayTao, 'dd-MM-yyyy')}]]</td>
                                                <td>[[${cat.phiVanChuyen}]]đ</td>
                                                <td>[[${cat.tongTien}]]đ</td>
                                                <td>[[${cat.tongTien + cat.phiVanChuyen}]]đ</td>
                                                <!-- trạng thái đơn hàng -->
                                                <td th:text="${
                                                        cat.trangThaiDonHang == 0 ?  'Chờ xác nhận' :
                                                        (cat.trangThaiDonHang == 1 ? 'Đang chuẩn bị' :
                                                        (cat.trangThaiDonHang == 2 ? 'Đang giao' :
                                                        (cat.trangThaiDonHang == 3 ? 'Hoàn thành' :
                                                        (cat.trangThaiDonHang == 4 ? 'Đã hủy' :
                                                        (cat.trangThaiDonHang == 5 ? 'Trả hàng / Hoàn tiền' : 'Đã hoàn trả')))))
                                                    }">
                                                </td>
                                                <td>
                                                    <a class="icon-green btn btn-outline-danger"
                                                       style="text-decoration: none"
                                                       th:href="@{'/admin/hoa-don-chi-tiet/search/' + ${cat.idDonHang}}">Xem</a>

                                                    <a class="btn btn-outline-primary capnhattrangthaidonhang"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#capNhatTrangThai"
                                                       th:data-id-don-hang="${cat.idDonHang}"
                                                       th:data-trang-thai-don-hang="${cat.trangThaiDonHang}"
                                                       style="text-decoration: none"
                                                    >Cập nhật</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                    <div th:if="${totalPages > 1}">
                                        <nav>
                                            <ul class="pagination justify-content-center">
                                                <li th:class="${currentPage > 1 ?'page-item' : 'page-item disabled'}">
                                                    <a th:replace="admin/fragment/fragments::page_donhang_link(1, 'Trang Đầu')" ></a>
                                                </li>
                                                <li th:class="${currentPage > 1 ?'page-item' : 'page-item disabled'}">
                                                    <a th:replace="admin/fragment/fragments::page_donhang_link(${currentPage - 1}, Trước)"></a>
                                                </li>

                                                <li th:class="${currentPage != i ? 'page-item': 'page-item disabled' }"
                                                    th:each="i : ${#numbers.sequence(currentPage == 1 ? currentPage : (currentPage - 1),(currentPage + 1) < totalPages ? (currentPage + 1) : totalPages )}">
                                                    <a th:replace="admin/fragment/fragments::page_donhang_link(${i}, ${i})"></a>
                                                </li>

                                                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                                    <a th:replace="admin/fragment/fragments::page_donhang_link(${currentPage + 1}, Sau)"></a>
                                                </li>
                                                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                                                    <a th:replace="admin/fragment/fragments::page_donhang_link(${totalPages}, 'Trang Cuối')"></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- MAIN-CONTENT-SECTION END -->
            </div>
        </div>
        <!-- END article -->
        <!--  Footer      -->
        <div th:replace="admin/fragment/fragments::footer"></div>


        <!--  Update status      -->
            <!-- Modal -->
            <div class="modal fade" id="capNhatTrangThai" tabindex="-1" aria-labelledby="capNhatTrangThaiLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="capNhatTrangThaiLabel">Cập nhật</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row g-3">
                                <div class="col-md-12">
                                    <label for="trangThai" class="form-label">Trạng thái</label>
                                    <select id="trangThai" class="form-select">
                                        <option value="0">Chờ xác nhận</option>
                                        <option value="1">Đang chuẩn bị</option>
                                        <option value="2">Đang giao</option>
                                        <option value="3">Hoàn thành</option>
                                        <option value="4">Đã hủy</option>
                                        <option value="5">Trả hàng / Hoàn tiền</option>
                                        <option value="6">Đã hoàn trả</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button type="button" id="thayDoiTrangThai" class="btn btn-outline-danger" data-bs-dismiss="modal">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        <!--   update status end     -->
        <script>
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; // Tháng bắt đầu từ 0
            var yyyy = today.getFullYear();
            if(dd<10){
                dd='0'+dd;
            }
            if(mm<10){
                mm='0'+mm;
            }
            var todayFormatted = yyyy+'-'+mm+'-'+dd; // Chuỗi ngày tháng được định dạng theo định dạng của input type="date"
            document.getElementById("start").value = todayFormatted; // Set giá trị mặc định cho input
            document.getElementById("end").value = todayFormatted; // Set giá trị mặc định cho input

        //     show trang thai don hang
            var idDonHang;
            $('.capnhattrangthaidonhang').click(function() {
                idDonHang = $(this).data('id-don-hang');
                var trangThai = $(this).data('trang-thai-don-hang');
                var selectElement = document.getElementById('trangThai');
                for (var i = 0; i < selectElement.options.length; i++) {
                    if (selectElement.options[i].value == trangThai) {
                        selectElement.options[i].selected = true;
                        break;
                    }
                }
            });
            $('#thayDoiTrangThai').click(function() {
                var trangThai = document.getElementById('trangThai').value;
                $.ajax({
                    url: "/admin/don-hang/update/"+ idDonHang + "/trang-thai/" + trangThai,
                    method: "POST",
                    success: function(response) {
                        $('#content').html(response);
                    },
                    error: function(xhr, status, error) {
                        console.log("Lỗi: " + error);
                    }
                });
            });

            //tracking
            $(document).ready(function() {
                $('.list-tracking li').click(function() {
                    // Xóa lớp "active" từ tất cả các phần tử li
                    $('.list-tracking li').removeClass('active');

                    // Thêm lớp "active" vào phần tử li được nhấp vào
                    $(this).addClass('active');
                    var apiValue = $(this).find('a').data('api');

                    if (apiValue == 99){
                        $.ajax({
                            url: "/admin/don-hang",
                            method: "GET",
                            success: function(response) {
                                $('#content').html(response);
                            },
                            error: function(xhr, status, error) {
                                console.log("Lỗi: " + error);
                            }
                        });
                    } else{
                        $.ajax(
                            {
                                url: "/admin/findByTrangThai/"+ apiValue,
                                method: "GET",
                                success: function(response) {
                                    $('#data').html(response);
                                },
                                error: function(xhr, status, error) {
                                    console.log("Lỗi: " + error);
                                }
                            });
                    }

                });
            });
        </script>
    </body>
</html>