<table class="table table-bordered table-striped table-hover table-responsive-xl" style="margin-top: 20px">
    <thead class="thead-dark">
    <tr>
        <th>#</th>
        <th>Địa chỉ</th>
        <th>Ngày giao hàng</th>
        <th>Ngày tạo</th>
        <th>Phí vận chuyển</th>
        <th>Tổng tiền sản phẩm</th>
        <th>Thành tiền</th>
        <th>Trạng thái</th>
        <Th>Action</Th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cat, iterStat : ${list}">
        <td th:text="${__${iterStat.index + 1}__}">1</td>
        <td style="max-width: 220px">
            [[${cat.diaChi}]],
            [[${diaChiAPI.callGetPhuongXaAPI(cat.idQuanHuyen).get(cat.idPhuongXa)}]],
            [[${diaChiAPI.callGetQuanHuyenAPI(cat.idTinhThanh).get(cat.idQuanHuyen)}]],
            [[${diaChiCache.hashMapTinhThanh.get(cat.idTinhThanh)}]]
        </td>
        <td>[[${#dates.format(cat.ngayGiaoHang, 'dd-MM-yyyy')}]]</td>
        <td>[[${#dates.format(cat.ngayTao, 'dd-MM-yyyy')}]]</td>
        <td>[[${cat.phiVanChuyen}]]đ</td>
        <td>[[${cat.tongTien}]]đ</td>
        <td>[[${cat.tongTien + cat.phiVanChuyen}]]đ</td>
        <!-- trạng thái đơn hàng -->
        <td th:text="${
                                                        cat.trangThaiDonHang == 0 ?  'Chờ xác nhận' :
                                                        (cat.trangThaiDonHang == 1 ? 'Đang chuẩn bị' :
                                                        (cat.trangThaiDonHang == 2 ? 'Đang giao' :
                                                        (cat.trangThaiDonHang == 3 ? 'Hoàn thành' :
                                                        (cat.trangThaiDonHang == 4 ? 'Đã hủy' :
                                                        (cat.trangThaiDonHang == 5 ? 'Trả hàng / Hoàn tiền' : 'Đã hoàn trả')))))
                                                    }">
        </td>
        <td>
            <a class="icon-green btn btn-outline-danger"
               style="text-decoration: none"
               th:href="@{'/hoa-don-chi-tiet/search/' + ${cat.idDonHang}}">Xem</a>

            <a class="btn btn-outline-primary capnhattrangthaidonhang"
               data-bs-toggle="modal"
               data-bs-target="#capNhatTrangThai"
               th:data-id-don-hang="${cat.idDonHang}"
               th:data-trang-thai-don-hang="${cat.trangThaiDonHang}"
               style="text-decoration: none"
            >Cập nhật</a>
        </td>
    </tr>
    </tbody>
</table>