<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="admin/fragment/fragments:: page_head"></head>

<body class="sb-nav-fixed">

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">Đồng Hồ 5S</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->

    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div th:replace="admin/fragment/navigation:: menu"></div>

    <div id="layoutSidenav_content">
    <div>
        <h2>Quản lý Danh Mục</h2>
        <a style="text-decoration: none" th:href="@{/colors/new}">Thêm Mới Màu Sắc</a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>


<!--    <div>-->
<!--        <form th:action="@{/colors/page/1}" class="form-inline m-3">-->
<!--            <div class="d-flex align-items-center">-->
<!--                <input type="hidden" name="sortField" th:value="${sortField}" />-->
<!--                <input type="hidden" name="sortDir" th:value="${sortDir}" />-->
<!--                <label class="sr-only">Tìm Kiếm</label>-->
<!--                <input style="width: 250px; margin-right: 10px" type="search" name="keyword" th:value="${keyword}" placeholder="nhập từ khóa tìm kiếm" class="form-control" required />-->
<!--                <input style="margin-right: 10px" type="submit" value="Search" class="btn btn-primary ml-2" />-->
<!--                <input type="button" value="Clear" class="btn btn-secondary ml-2" onclick="clearFilter()"/>-->
<!--            </div>-->
<!--        </form>-->

<!--    </div>-->

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th th:replace="admin/fragment/fragments::mausac_link('idMauSac', 'ID')"></th>
                <th th:replace="admin/fragment/fragments::mausac_link('tenMauSac', 'Tên')"></th>
                <th th:replace="admin/fragment/fragments::mausac_link('enabled', 'Enabled')"></th>
                <th th:replace="admin/fragment/fragments::mausac_link('tenMauSac', 'Màu')"></th>
                <Th>Action</Th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="cat :${listMauSac}">
                <td>[[${cat.idMauSac}]]</td>
                <td>[[${cat.tenMauSac}]]</td>
                <td>[[${cat.enabled}]]</td>
                <td>
                    <input type="color" disabled th:value="${cat.tenMauSac}">
                </td>
                <td>
                    <a class="icon-green" style="text-decoration: none" th:href="@{'/admin/colors/edit/' + ${cat.idMauSac}}"
                       title="Thay đổi thông tin">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center m-1" th:if="${totalItem > 0}">
        <span>Hiển thị Danh Mục # [[${startCount}]] to [[${endCount}]] of [[${totalItem}]] </span>
    </div>
    <div class="text-center m-1" th:unless="${totalItem > 0}">
        <span>Không có Danh Mục trang này</span>
    </div>


    <div th:replace="admin/fragment/fragments::footer"></div>
    </div>
</div>

</div>
</body>
</html>