* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-item:hover .nav-link {
  font-weight: bold;
}
nav {
  position: sticky;
}
.navbar-white {
  background-color: #ffffff;
}
.navbar-boder {
  border-top: 1px solid #000000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
.content-primary {
  margin: 30px;
}
.content-primary div {
  margin-top: 20px;
}
.tieude{
  text-decoration: none;
  color: black;
  font-weight: bold;
margin-top: 20px;
}
.tieude:hover{
  color: #2e2ecc;
}
