<footer style="margin-top: 50px; border-top: 1px solid #000000">
  <div class="footer-top" style="margin-top: 20px">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Về chúng tôi</h4>
          <p>5S là một cửa hàng đồng hồ mới trong ngành công nghiệp đồng hồ.</p>
        </div>
        <div class="col-md-4">
          <h4>Liên hệ</h4>
          <p>Địa chỉ: 123 Đường ABC, Thành phố XYZ</p>
          <p>Email: info@5S.com</p>
          <p>Điện thoại: 123-456-7890</p>
        </div>
        <div class="col-md-4">
          <h4>Kết nối với chúng tôi</h4>
          <ul class="social-media">
            <li>
              <a style="color: #000000" href="#"
                ><i class="fab fa-facebook"></i
              ></a>
            </li>
            <li>
              <a style="color: #000000" href="#"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li>
              <a style="color: #000000" href="#"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
          </ul>
          <ul class="footer-links">
            <li>
              <a style="color: #000000; text-decoration: none" href="#"
                >Điều khoản sử dụng</a
              >
            </li>
            <li>
              <a style="color: #000000; text-decoration: none" href="#"
                >Chính sách bảo mật</a
              >
            </li>
            <li>
              <a style="color: #000000; text-decoration: none" href="#"
                >Thông tin cá nhân</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2023 Tourneau. Tất cả các quyền được bảo lưu.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
