
<div ng-controller="cartCtrl">
<header class="main-menu-area">
	<div class="container">
		<div class="row">
			<!-- SHOPPING-CART START -->
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-right shopingcartarea">
				<div class="shopping-cart-out pull-right">
					<div class="shopping-cart">
						<a class="shop-link" href="#cart" title="View my shopping cart">
							<i class="fa fa-shopping-cart cart-icon" ></i>
							<b>My Cart</b>
							<span class="ajax-cart-quantity">{{totalSp}}</span>
						</a>
						<div class="shipping-cart-overly" style="overflow: scroll">
							<div class="shipping-item"  ng-repeat="item in cart">
								<span class="cross-icon" ng-click="removeSP(item)"><i class="fa fa-times-circle"></i></span>
								<div class="shipping-item-image" style="width: 30%">
									<a href="#/chitietsanpham/{{item.chiTietSanPham.sanPham.idSanPham}}"><img src="/assets/images/{{item.chiTietSanPham.sanPham.listAnhSanPham[0].link}}" alt="shopping image" /></a>
								</div>
								<div class="shipping-item-text"  style="width: 60%; float: right">
									<span>{{item.soLuongSanPham}} <span class="pro-quan-x">x</span> <a href="#" class="pro-cat">{{item.chiTietSanPham.sanPham.tenSanPham}} </a></span>
									<span class="pro-quality"><a href="#sanpham">{{item.chiTietSanPham.kichCo.tenKichCo}},{{item.chiTietSanPham.mauSac.tenMauSac}}</a></span>
									<p>{{item.giaBan}}</p>
								</div>
							</div>

							<div class="shipping-total-bill">
								<div class="cart-prices">
									<span class="shipping-cost">0.00</span>
									<span>Shipping</span>
								</div>
								<div class="total-shipping-prices">
									<span class="shipping-total">{{total}}</span>
									<span>Total</span>
								</div>
							</div>
							<div class="shipping-checkout-btn">
								<a href="#checkout">Check out <i class="fa fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- SHOPPING-CART END -->
			<!-- MAINMENU START -->
			<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 no-padding-right menuarea">
				<div class="mainmenu">
					<nav>
						<ul class="list-inline mega-menu">
							<li class="active"><a href="#index">Home</a>
								<!--                                &lt;!&ndash; DROPDOWN MENU START &ndash;&gt;-->
								<!--                                <div class="home-var-menu">-->
								<!--                                    <ul class="home-menu">-->
								<!--                                        <li><a href="index.html">Home variation 1</a></li>-->
								<!--                                        <li><a href="index-2.html">Home variation 2</a></li>-->
								<!--                                    </ul>-->
								<!--                                </div>-->
								<!--                                &lt;!&ndash; DROPDOWN MENU END &ndash;&gt;-->
							</li>
							<li>
								<a href="#sanpham">Women</a>
								<!-- DRODOWN-MEGA-MENU START -->
								<div class="drodown-mega-menu">
									<div class="left-mega col-xs-6">
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="#sanpham">TOPS</a>
											<ul>
												<li><a href="#sanpham">T-shirts</a></li>
												<li><a href="#sanpham">clothing</a></li>
												<li><a href="#sanpham">Delivery</a></li>
											</ul>
										</div>
									</div>
									<div class="right-mega col-xs-6">
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="#sanpham">Prodect</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Watch</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- DRODOWN-MEGA-MENU END -->
							</li>
							<li>
								<a href="#sanpham">Men</a>
								<!-- DRODOWN-MEGA-MENU START -->
								<div class="drodown-mega-menu">
									<div class="left-mega col-xs-6">
										<div class="mega-menu-list">
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- DRODOWN-MEGA-MENU END -->
							</li>
							<li>
								<a href="shop-gird.html">clothing</a>
								<!-- DRODOWN-MEGA-MENU START -->
								<div class="drodown-mega-menu">
									<div class="left-mega col-xs-6">
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">TOPS</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">new product</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
									</div>
									<div class="right-mega col-xs-6">
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">Prodect</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Watch</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">best sale month</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- DRODOWN-MEGA-MENU END -->
							</li>
							<li>
								<a href="shop-gird.html">Tops</a>
								<!-- DRODOWN-MEGA-MENU START -->
								<div class="drodown-mega-menu">
									<div class="left-mega col-xs-4">
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">TOPS</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
									</div>
									<div class="right-mega col-xs-4">
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">best sale month</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
									</div>
									<div class="right-mega col-xs-4">
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">top rate product</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
									</div>
									<div class="left-mega col-xs-6">
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">Latest product</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
									</div>
									<div class="left-mega col-xs-6">
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">popular product</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- DRODOWN-MEGA-MENU END -->
							</li>
							<li>
								<a href="shop-gird.html">T-shirts</a>
								<!-- DRODOWN-MEGA-MENU START -->
								<div class="drodown-mega-menu">
									<div class="left-mega col-xs-6">
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">TOPS</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">new product</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
									</div>
									<div class="right-mega col-xs-6">
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">Prodect</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Watch</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
										<div class="mega-menu-list">
											<a class="mega-menu-title" href="shop-gird.html">best sale month</a>
											<ul>
												<li><a href="shop-gird.html">T-shirts</a></li>
												<li><a href="shop-gird.html">clothing</a></li>
												<li><a href="shop-gird.html">Delivery</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- DRODOWN-MEGA-MENU END -->
							</li>
							<li><a href="#">Delivery</a></li>
							<li><a href="#about">About us</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- MAINMENU END -->
		</div>
		<div class="row">
			<!-- MOBILE MENU START -->
			<div class="col-sm-12 mobile-menu-area">
				<div class="mobile-menu hidden-md hidden-lg" id="mob-menu">
					<span class="mobile-menu-title">MENU</span>
					<nav>
						<ul>
							<li><a href="#">Home</a>
								<ul>
									<li><a href="index.html">Home variation 1</a></li>
									<li><a href="index-2.html">Home variation 2</a></li>
								</ul>
							</li>
							<li><a href="shop-gird.html">Women</a>
								<ul>
									<li><a href="shop-gird.html">Tops</a>
										<ul>
											<li><a href="shop-gird.html">T-Shirts</a></li>
											<li><a href="shop-gird.html">Blouses</a></li>
										</ul>
									</li>
									<li><a href="shop-gird.html">Dresses</a>
										<ul>
											<li><a href="shop-gird.html">Casual Dresses</a></li>
											<li><a href="shop-gird.html">Summer Dresses</a></li>
											<li><a href="shop-gird.html">Evening Dresses</a></li>
										</ul>
									</li>

								</ul>
							</li>
							<li><a href="shop-gird.html">men</a>
								<ul>
									<li><a href="shop-gird.html">Tops</a>
										<ul>
											<li><a href="shop-gird.html">Sports</a></li>
											<li><a href="shop-gird.html">Day</a></li>
											<li><a href="shop-gird.html">Evening</a></li>
										</ul>
									</li>
									<li><a href="shop-gird.html">Blouses</a>
										<ul>
											<li><a href="shop-gird.html">Handbag</a></li>
											<li><a href="shop-gird.html">Headphone</a></li>
											<li><a href="shop-gird.html">Houseware</a></li>
										</ul>
									</li>
									<li><a href="shop-gird.html">Accessories</a>
										<ul>
											<li><a href="shop-gird.html">Houseware</a></li>
											<li><a href="shop-gird.html">Home</a></li>
											<li><a href="shop-gird.html">Health & Beauty</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="shop-gird.html">clothing</a></li>
							<li><a href="shop-gird.html">tops</a></li>
							<li><a href="shop-gird.html">T-shirts</a></li>
							<li><a href="#">Delivery</a></li>
							<li><a href="#about">About us</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- MOBILE MENU END -->
		</div>
	</div>
</header>

<!-- MAIN-CONTENT-SECTION START -->
<section class="main-content-section" >
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- BSTORE-BREADCRUMB START -->
				<div class="bstore-breadcrumb">
					<a href="#index">HOMe</a>
					<span><i class="fa fa-caret-right	"></i></span>
					<span>Your shopping cart</span>
				</div>
				<!-- BSTORE-BREADCRUMB END -->
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- SHOPPING-CART SUMMARY START -->
				<h2 class="page-title">Shopping-cart summary <span class="shop-pro-item">Your shopping cart contains: {{totalSp}}</span></h2>
				<!-- SHOPPING-CART SUMMARY END -->
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- SHOPING-CART-MENU START -->
				<div class="shoping-cart-menu">
					<ul class="step">
						<li class="step-current first">
							<span>01. Summary</span>
						</li>
						<li class="step-todo third">
							<span>01. Address</span>
						</li>
						<li class="step-todo last" id="step_end">
							<span>03. Payment</span>
						</li>
					</ul>
				</div>
				<!-- SHOPING-CART-MENU END -->
				<!-- CART TABLE_BLOCK START -->
				<div class="table-responsive">
					<!-- TABLE START -->
					<table class="table table-bordered" id="cart-summary">
						<!-- TABLE HEADER START -->
						<thead>
						<tr>
							<th class="cart-product"></th>
							<th class="cart-product">Product</th>
							<th class="cart-description">Description</th>
							<th class="cart-avail text-center">Availability</th>
							<th class="cart-unit text-right">Unit price</th>
							<th class="cart_quantity text-center">Qty</th>
							<th class="cart-delete">&nbsp;</th>
							<th class="cart-total text-right">Total</th>
						</tr>
						</thead>
						<!-- TABLE HEADER END -->
						<!-- TABLE BODY START -->

						<tbody>
						<!-- SINGLE CART_ITEM START -->
						<tr ng-repeat="item in cart" ng-init = "setTotals(item)">
							<td>
								<input type="checkbox"  ng-checked="selection.indexOf(item) > -1" ng-click="toggleSelection(item)" />
							</td>
							<td class="cart-product">
								<a href="#/chitietsanpham/{{item.chiTietSanPham.sanPham.idSanPham}}"><img alt="Blouse" src="/assets/images/{{item.chiTietSanPham.sanPham.listAnhSanPham[0].link}}" width="37%"></a>
							</td>
							<td class="cart-description">
								<p class="product-name"><a href="#/chitietsanpham/{{item.chiTietSanPham.sanPham.idSanPham}}">{{item.chiTietSanPham.sanPham.tenSanPham}} </a></p>
								<small>SKU : demo_1</small>
								<small><a href="#">Size :{{item.chiTietSanPham.kichCo.tenKichCo}} , Color : {{item.chiTietSanPham.mauSac.tenMauSac}} </a></small>
							</td>
							<td class="cart-avail"><span class="label label-success">In stock</span></td>
							<td class="cart-unit">
								<ul class="price text-right">
									<li class="price special-price"> {{item.giaBan | number}} </li>
									<span ng-if="item.giaBan == item.chiTietSanPham.giaSanPham"></span>
									<span ng-if="item.giaBan != item.chiTietSanPham.giaSanPham">
										<li class="price-percent-reduction small">&nbsp;{{item.chiTietSanPham.khuyenMai.chietKhau}}%&nbsp;</li>
									     <li class="old-price">{{item.chiTietSanPham.giaSanPham | number}} đ</li>
                                     </span>
								</ul>
							</td>
							<td class="cart_quantity text-center">
								<div class="cart-plus-minus-button">
									<input class="cart-plus-minus" type="text"  name="soLuongSanPham"
										   value="{{item.soLuongSanPham}}" readonly >
									<div class="dec qtybutton" ng-click="giam(item)">-</div>
									<div class="inc qtybutton"  ng-click="tang(item)">+</div>
								</div>
							</td>
							<td class="cart-delete text-center">
											<span>
												<p class="cart_quantity_delete" title="Delete" ng-click="removeSP(item)"><i class="fa fa-trash-o"></i></p>
											</span>
							</td>
							<td class="cart-total">
								<span class="price">{{item.soLuongSanPham * item.giaBan}}</span>
							</td>
						</tr >
						<!-- SINGLE CART_ITEM END -->

						</tbody>
						<!-- TABLE BODY END -->
						<!-- TABLE FOOTER START -->
						<tfoot>
						<tr class="cart-total-price">
							<td class="cart_voucher" colspan="4" rowspan="4"></td>
							<td class="text-right" colspan="4">Total products (tax excl.)</td>
							<td id="total_product" class="price" colspan="1">{{total}}</td>
						</tr>
						<tr>
							<td class="text-right" colspan="4">Total shipping</td>
							<td id="total_shipping" class="price" colspan="1">0.00</td>
						</tr>
						<tr>
							<td class="text-right" colspan="4">Total vouchers (tax excl.)</td>
							<td class="price" colspan="1">$0.00</td>
						</tr>
						<tr>
							<td class="total-price-container text-right" colspan="4">
								<span>Total</span>
							</td>
							<td id="total-price-container" class="price" colspan="1">
								<span id="total-price">{{total}}</span>
							</td>
						</tr>
						</tfoot>
						<!-- TABLE FOOTER END -->
					</table>
					<!-- TABLE END -->
				</div>
				<!-- CART TABLE_BLOCK END -->
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- RETURNE-CONTINUE-SHOP START -->
				<div class="returne-continue-shop">
					<a href="#index" class="continueshoping"><i class="fa fa-chevron-left"></i>Continue shopping</a>
					<a href="#address" class="procedtocheckout">Proceed to checkout<i class="fa fa-chevron-right"></i></a>
				</div>
				<!-- RETURNE-CONTINUE-SHOP END -->
			</div>
		</div>
	</div>
</section >
<!-- MAIN-CONTENT-SECTION END -->
</div>