

    <!-- start change password -->
    <div class="container">
      <div class="row">
        <div class="col-5">
          <form class="col" ng-submit="changepass()">
            <h2 style="text-align: center">Đặt lại mật khẩu</h2>
            <br>
            <br>
            <br>
            <br>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Tên tài khoản:
              </label>
              <br>
              <br>
              <input
                type="text"
                class="form-control"
                name="txtname"
                ng-model="fullnames"
                required
              />
            </div>
            <br>
            <br>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Email:</label
              >
              <br>
              <br>
              <input
                type="password"
                class="form-control"
                name="txtpass"
                ng-model="passs"
                required
              />
            </div>
            <br>
            <br>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Phone:</label
              >
              <br>
              <br>
              <input
                type="password"
                class="form-control"
                name="txtpass"
                ng-model="passs"
                required
              />
              <br>
              <br>  
            </div>
            <button
              type="submit"
              style="width: 49%"
              class="btn btn-primary p-3"
              ng-click="edit(userpass)"
            >
              Gửi
            </button>
            <button
              type="submit"
              style="width: 50%"
              class="btn btn-primary p-3"
              ng-click="edit(userpass)"
              
            >
              Làm mới
            </button>
          </form>
        </div>
        <div class="col-7">
          <div class="text-center">
            <h1>Nếu bạn đã xong</h1>
            <br />
            <h3>Vui lòng quay lại trang đăng nhập</h3>
            <br>
            <br>
            <butto type="submit" class="btn btn-success">Đăng nhập</button>
            <br>
            
          </div>
        <div class="text-center">
            <br>
            <br>
            <img src="/gio hang/assets/images/Banner2-left.jpg" alt="">
        </div>
        </div>
      </div>
    </div>
    <!-- end change password -->
  