<!-- start cart -->

<div class="container-fluid" style="max-width: 1200px" ng-controller="cartCtrl">
    <h2 class="content-headers">GIỎ HÀNG</h2>
    <br>

    <div class="row">
        <div class="card col-8">
            <div class="card-body">
                <table class="table caption-top">
                    <caption>
                        Đơn hàng của bạn
                    </caption>
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Tên</th>
                        <th scope="col">Giá</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in cart" style="vertical-align: baseline" ng-init = "setTotals(item)">
                        <td> <a href="#"> <img src="../assets/images/{{item.chiTietSanPham.sanPham.listAnhSanPham[0].link}}" alt="" width="60px" ></a>  </td>
                        <td>{{item.chiTietSanPham.sanPham.tenSanPham}}</td>
                        <td>
                            <span class="price">{{item.giaBan}}</span> &#273;
                            <input type="hidden" name="txtPrice" value="0"/>
                            <input type="hidden" name="totalTxtPrice"/>
                        </td>
                        <td>
                            <input class="minus is-form" type="button" value="-" style="width:30px" ng-click="giam(item)"/>
                            <input
                                    aria-label="quantity"
                                    class="input-qty"
                                    max=10
                                    min=1
                                    name="soLuongSanPham"

                                    type="text"
                                    value="{{item.soLuongSanPham}}"
                                   style="width:30px"
                            />
                            <input class="plus is-form" type="button" value="+" style="width:30px" ng-click="tang(item)"/>
                        </td>
                        <td><button type="button" class="btn btn-danger" ng-click="remove(item)">Xóa hàng</button></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-end">Tổng tiền:</td>
                        <td><span class="totalAmount">{{total}}</span> &#273;</td>
                        <td>Tổng số sản phẩm: <span class="totalQuantity">{{totalSp}}</span></td>
                        <td><button type="button" class="btn btn-danger" ng-click="removeAll()">Xóa hết</button></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-4">
            <div class="thongtin">
                <h6>Tổng tiền</h6>
                <p>
                    Tạm tính :
                    <span class="tien" ng-model="total">{{total}} đ</span>
                </p>
                <hr/>
                <p>Vận chuyển : <span class="tien">Miễn phí vận chuyển</span></p>
                <hr/>
                <p>Thành tiền : <span class="tien">1,000,000 VND</span></p>
                <hr/>
                <a href="#thanhtoan" class="btn btn-danger" style="width: 300px"
                >Thanh toán</a
                >
            </div>
        </div>
    </div>
</div>
<!-- end cart -->

<!-- start thông tin dẫn sang bài viết-->

<div
        class="container text-center"
        style="margin-top: 100px; background-color: #e6e6e6; padding-top: 20px"
>
    <div class="row">
        <div class="col">
            <p class="text-uppercase">Kiến Thức Đáng Tin Cậy</p>
            <p class="text-uppercase" style="font-weight: 500; font-size: 25px">
                Bán Đồng Hồ Của Bạn
            </p>
            <a href=""
            ><p
                    class="text-capitalize"
                    style="text-decoration: underline; color: #000000"
            >
                Xem Thêm
            </p></a
            >
        </div>
        <div class="col">
            <p class="text-uppercase">Đã Qua Sử Dụng Được Chứng Nhận</p>
            <p class="text-uppercase" style="font-weight: 500; font-size: 25px">
                Chính Hãng 100%
            </p>
            <a href=""
            ><p
                    class="text-capitalize"
                    style="text-decoration: underline; color: #000000"
            >
                Mua Ngay
            </p></a
            >
        </div>
    </div>
</div>
<!-- end thông tin dẫn sang bài viết-->
