<br />
<br />
<!-- start product -->
<div class="container" ng-model="SanPhamController">
  <div class="row">
    <div class="col-md-3 ps-5">
      <form ng-submit="searchList()">
        <h2>Bộ lọc</h2>
        <br />
        <br />
        <!--Filter Tên-->
        <p>Nhập tên</p>
        <input
          class="form-control"
          type="text"
          ng-model="tenSanPham"
          id="flexCheckDefault"
        />
        <!-- //Filter Danh Muc -->
        <p>Danh Mục</p>
        <select
          class="form-select"
          aria-label="Default select example"
          ng-model="danhMucId"
        >
          <option value="" selected="true">Chọn danh mục</option>
          <option
            value="{{danhMuc.id}}"
            ng-repeat="danhMuc in listSetting.listDanhMuc"
          >
            {{danhMuc.ten}}
          </option>
        </select>
        <!-- Filter Thuong Hieu -->
        <p>Thương Hiệu</p>
        <select class="form-select" aria-label="Default select example">
          <option value="" selected>Chọn thương hiệu</option>
          <option
            value="{{thuongHieu.id}}"
            ng-repeat="thuongHieu in listSetting.listThuongHieu"
          >
            {{thuongHieu.tenThuonghieu}}
          </option>
        </select>
        <br />
        <!-- Filter Màu Sắc -->
        <p>Màu sắc</p>
        <select class="form-select" aria-label="Default select example">
          <option value="null" selected>Chọn màu sắc</option>
          <option value="{{ms.id}}" ng-repeat="ms in listSetting.listMauSac">
            {{ms.tenMauSac}}
          </option>
        </select>
        <!--Filter dây đeo-->
        <p>Dây đeo</p>
        <select class="form-select" aria-label="Default select example">
          <option value="null" selected>Chọn dây đeo</option>
          <option value="{{dd.id}}" ng-repeat="dd in listSetting.listDayDeo">
            {{dd.tenDayDeo}}
          </option>
        </select>
        <!--Filter Vật Liệu-->
        <p>Vật Liệu</p>
        <select class="form-select" aria-label="Default select example">
          <option value="null" selected>Chọn Vật liệu</option>
          <option value="{{vl.id}}" ng-repeat="vl in listSetting.listVatLieu">
            {{vl.tenVatLieu}}
          </option>
        </select>

        <br />
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
      </form>
    </div>
    <div class="col-md-9">
      <!--start banner 1 -->
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/images/Banner1.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="assets/images/Banner2.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        ></button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        ></button>
      </div>
      <!--end banner 1 -->
      <br />
      <br />
      <!--Sort-->
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div
            class="collapse navbar-collapse justify-content-center navbar-boder"
            id="navbarNav"
          >
            <ul class="navbar-nav float-left">
              <li class="nav-item p-3">
                <h3 class="nav-link active" aria-current="page" href="#">
                  Sắp xếp:
                </h3>
              </li>
              <li class="nav-item p-3">
                <a class="nav-link active" aria-current="page" href="#"
                  >Giá Thấp - Cao</a
                >
              </li>
              <li class="nav-item p-3">
                <a class="nav-link active" aria-current="page" href="#"
                  >Giá Cao - Thấp</a
                >
              </li>
              <li class="nav-item p-3">
                <a class="nav-link active" aria-current="page" href="#"
                  >Mới nhất</a
                >
              </li>
              <li class="nav-item p-3">
                <a class="nav-link active" aria-current="page" href="#"
                  >Bán chạy nhất</a
                >
              </li>
              <li class="nav-item p-5 pt-3 pe-1">
                <a class="nav-link active" aria-current="page" href="#"
                  >Tìm kiếm:</a
                >
              </li>
              <li class="nav-item p-3 ps-1">
                <a class="nav-link active" aria-current="page" href="#"
                  ><input type="text"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--Sản phẩm-->
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-4" ng-repeat="sp in displayedItems">
          <div class="col p-3">
            <div class="card">
              <div class="m-5">
                <img
                  src="/assets/images/{{sp.linkAnh}}"
                  class="card-img-top"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">{{sp.tenSanPham}}</h5>
                <p class="card-text">{{sp.giaSanPham}}</p>
              </div>
              <a
                href="#/chitietsanpham/{{sp.sanPhamID}}"
                class="btn btn-primary"
                >Detail</a
              >
            </div>
          </div>
        </div>
      </div>
      <!--Page-->
      <div class="pagination">
        <button ng-click="previousPage()">Previous</button>
        <button ng-repeat="page in pages" ng-click="changePage(page)">
          {{ page }}
        </button>
        <button ng-click="nextPage()">Next</button>
      </div>
    </div>
  </div>
</div>
<!-- end product -->
