  <!-- Section: Design Block -->
  <section class="" ng-controller="registerCtrl">
    <!-- Jumbotron -->
    <div
      class="px-4 py-5 px-md-5 text-center text-lg-start"
      style="background-color: hsl(0, 0%, 96%)"
    >
      <div class="container">
        <div class="row gx-lg-5 justify-content-center">
          <div class="col-lg-6 mb-0 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <h2 class="text-center">Signup</h2>
                <br />
                <form novalidate name="formRegister" ng-submit="register()" method="post">
                  <!-- 2 column grid layout with text inputs for the first and last names -->

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <label for="exampleInputEmail1" class="form-label">Họ Tên *</label>
                    <input
                            type="text"
                            name="txtTen"
                            ng-model="user.tenKhachHang"
                            required
                            class="form-control"
                            maxlength="60"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                    />
                    <small
                            id="fullnae"
                            ng-show="formRegister.txtTen.$error.required"
                            class="form-text text-danger"
                    >Vui lòng nhập họ tên đầy đủ</small
                    >
                    <small
                            id="fullne"
                            ng-show="formRegister.txtTen.$error.maxlength"
                            class="form-text text-danger"
                    >Vui lòng không nhập quá 60 kí tự</small
                    >
                  </div>
                  <label class="form-label"
                    >Giới tính :</label
                  >
                  <br />
                  <div class="form-check form-check-inline">
                    <input
                            class="form-check-input"
                            type="radio"
                            name="gender"
                            id="inlineRadio2"
                            value="1"
                            ng-model="user.gioiTinh"
                    />
                    <label class="form-check-label" for="inlineRadio2">Nữ</label>
                  </div>
                  <div class="form-check mb-4 form-check-inline">
                    <input
                            class="form-check-input"
                            type="radio"
                            name="gender"
                            id="inlineRadio"
                            value="0"
                            ng-model="user.gioiTinh"
                            ng-value="0"
                    />
                    <label class="form-check-label" for="inlineRadio">Nam</label>

                  </div>
                  <div class="form-outline mb-4">
                    <label for="exampleInputEmail1" class="form-label">Ngày sinh *</label>
                    <input
                            type="date"
                            class="form-control"
                            id="exampleInputEma"
                            aria-describedby="emailHelp"
                            name="ngaySinh"
                            ng-model="user.ngaySinh"
                            ng-value="0"
                            required
                    />
                    <small
                            ng-show="formRegister.ngaySinh.$error.required"
                            class="form-text text-danger"
                    >Vui lòng nhập ngày sinh</small
                    >
                  </div>

                  <div class="form-outline mb-4" style="display: flex; justify-content: space-between">
                        <div class="col-4">
                            <label  class="form-label">Phường xã *</label>
                            <select id="inputPX" class="form-select" ng-model="user.idPhuongXa" name="phuongXa">
                                <option selected>Choose...</option>
                              <option ng-repeat ="(key,value) in pxMap" ng-value="key">
                                {{value}} {{key}}
                              </option>
                            </select>
                        </div>
                      <div class="col-4">
                          <label class="form-label">Quận huyện *</label>
                          <select id="inputQH" class="form-select"  name="quanHuyen" ng-model="user.idQuanHuyen">
                              <option selected>Choose...</option>
                            <option ng-repeat ="(key,value) in qhMap" ng-value="key">
                              {{value}} {{key}}
                            </option>
                          </select>
                      </div>
                      <div class="col-3">
                      <label class="form-label">Thành Phố *</label>
                      <select id="inputTP" class="form-select" name="thanhPho" ng-model="user.idTinhThanh">
                        <option selected>Thành phố</option>
                        <option ng-repeat ="(key,value) in tpMap" ng-value="key">
                          {{value}} {{key}}
                         </option>
                      </select>
                    </div>


                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label"
                      >Địa chỉ *</label
                    >
                    <input
                            type="text"
                            name="diaChi"
                            ng-model="user.diaChi"
                            required
                            class="form-control"
                            id="diahi"
                            aria-describedby="emailHelp"
                    />
                    <small
                            id="diaci"
                            ng-show="formRegister.diaChi.$error.required"
                            class="form-text text-danger"
                    >Vui lòng nhập địa chỉ
                    </small>
                  </div>
                  <div class="form-outline mb-4">
                    <label for="exampleInputEmail1" class="form-label"
                    >Số điện thoại *</label
                    >
                    <input
                            type="text"
                            name="txtSdt"
                            ng-model="user.soDienThoai"
                            ng-pattern="/^[0-9]*$/"
                            required
                            class="form-control"
                            id="examplInputEmail1"
                            aria-describedby="emailHelp"
                    />
                    <small
                            id="sdt"
                            ng-show="formRegister.txtSdt.$error.required"
                            class="form-text text-danger"
                    >Vui lòng nhập SĐT</small
                    >
                    <small ng-show=
                                  "formRegister.txtSdt.$error.pattern"
                           class="form-text text-danger"
>
                          Số điện thoại là các số
            </small>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" >Email *</label>
                    <input
                            type="email"
                            name="txtemail"
                            ng-model="user.email"
                            required
                            class="form-control"
                            aria-describedby="emailHelp"
                    />
                    <small
                            id="emaila"
                            ng-show="formRegister.txtemail.$error.required"
                            class="form-text text-danger"
                    >Vui lòng nhập địa chỉ
                    </small>
                  </div>
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password *</label>
                    <input
                            type="password"
                            class="form-control"
                            id="exampleInputPassword1"
                            name="txtPass"
                            ng-model="user.password"
                            ng-maxlength="30"
                            ng-minlength="4"
                            required
                    />
                    <small
                            id="passwrd"
                            ng-show="formRegister.txtPass.$error.required"
                            class="form-text text-danger"
                    >Vui lòng nhập pass</small
                    >
                    <small
                            id="passrd"
                            ng-show="formRegister.txtPass.$error.maxlength"
                            class="form-text text-danger"
                    >Không nhập mật khẩu quá 30 kí tự</small
                    >
                    <small
                            id="pasword"
                            ng-show="formRegister.txtPass.$error.minlength"
                            class="form-text text-danger"
                    >Không nhập mật khẩu ít hơn 4 kí tự</small
                    >
                  </div>

                  <!-- Submit button -->

                  <button class="btn btn-secondary btn-lg col-12" type="submit">
                    Sign up
                  </button>
                  <p class="small text-center">
                    <br />
                    <a class="text-black-50" href="#login"
                      >Don't have account ? Login</a
                    >
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
