
<div class="container" ng-model="ThongTinCaNhanController">
    <h1>Thông tin cá nhân</h1>
    <div class="row">
        <div class="col-12">

            <form action="#" class="was-validated">
                <div class="row" style="padding-bottom: 20px">
                    <div class="form-group col-6">
                        <label for="ten">Tên:</label>
                        <input type="text" class="form-control" id="ten" placeholder="Tên" name="ten" required minlength="5" ng-model="thongtincanhan.tenKhachHang">
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                    <div class="form-group col-6">
                        <label for="sdt">SĐT:</label>
                        <input type="text" class="form-control" id="sdt" placeholder="Số điện thoại" name="sdt" ng-model="thongtincanhan.soDienThoai" required minlength="10" maxlength="11">
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 20px">
                    <div class="form-group col-6">
                        <label for="diaChi">Địa chỉ:</label>
                        <input type="text" class="form-control" id="diaChi" placeholder="Địa chỉ" name="diaChi" ng-model="thongtincanhan.diaChi" required minlength="10">
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                    <div class="form-group col-6">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" placeholder="Tên" name="email" ng-model="thongtincanhan.email" required minlength="7">
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 20px">
                    <div class="form-group col-6">
                        <label for="ngaySinh">Ngày sinh:</label>
                        <input type="date" class="form-control" id="ngaySinh" placeholder="Ngày sinh"
                               ng-model="thongtincanhan.ngaySinh"
                               ng-change="thongtincanhan.ngaySinh = thongtincanhan.ngaySinh.split('/').reverse().join('-')"
                               value="{{ thongtincanhan.ngaySinh | date:'yyyy-MM-dd' }}"
                               name="ngaySinh" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>

                    <div class="form-group col-6">
                        <label for="gioiTinh">Giới tính</label>
                        <select class="form-control" id="gioiTinh" ng-model="thongtincanhan.gioiTinh">
                            <option ng-selected="thongtincanhan.gioiTinh == 1">Nam</option>
                            <option ng-selected="thongtincanhan.gioiTinh == 0">Nữ</option>
                        </select>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>
                <a type="submit" class="btn btn-outline-danger" style="margin-right: 20px">Cập nhật</a>
                <a type="submit" href="#info" ng-submit="huyCapNhat()" class="btn btn-outline-primary" >Hủy</a>
            </form>

        </div>

    </div>
</div>
