<!--end thanh tiêu đề 2-->

<div class="container-fluid my-5">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card shadow-lg">
        <div class="row justify-content-around">
          <!--sanpham-->
          <div class="col-md-12">
            <div class="card border-0">
              <div class="card-header pb-3">
                <h2 class="card-title space">Checkout</h2>
                <div class="col-3">
                  <p>
                    <small for="NAME" class="small text-muted mb-1"
                      >Địa chỉ nhận hàng :</small
                    >
                  </p>
                </div>
                <div class="col-9">
                  <b>
                    {{thongtincanhan.tenKhachHang}} (
                    {{thongtincanhan.soDienThoai}} )</b
                  >
                  <select
                    class="form-select"
                    ng-model="diaChiGiaoHang"
                  >
                    <option
                      ng-value="item"
                      ng-repeat="item in diaChiGiaoHangs"
                    >
                      {{item.diaChi}}
                    </option>
                  </select>

                  <a
                    href=""
                    style="text-decoration: none"
                    data-bs-toggle="modal"
                    data-bs-target="#myModal"
                  >
                    Thay đổi
                  </a>
                </div>
              </div>

              <div class="card-header card-2">
                <p class="card-text text-muted mt-md-4 mb-2 space">
                  YOUR ORDER >
                </p>
              </div>
              <br />
              <!--Thông tin list sản phẩm-->
              <div class="card-body pt-0">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Sản phẩm</th>
                      <th scope="col">Đơn giá</th>
                      <th scope="col">Số lượng</th>
                      <th scope="col">Thành tiền</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in listHoaDonChiTietRequest">
                      <th>{{item.chiTietSanPham.sanPham.tenSanPham}}</th>
                      <td>{{item.giaBan}}</td>
                      <td>{{item.soLuong}}</td>
                      <td>{{item.giaBan * item.soLuong}}</td>
                    </tr>
                  </tbody>
                </table>
                <hr class="my-2" />
              </div>
              <!--End list sản phẩm-->
            </div>
          </div>
          <!--thong tin-->
          <div class="col-md-12">
            <div class="card border-0">
              <div class="card-body">
                <div class="row mt-4">
                  <div class="col">
                    <p class="text-muted mb-2">DETAILS</p>
                    <hr class="mt-0" />
                  </div>
                </div>
                <div class="mb-3">
                  <label class="text mb-1">Phí vận chuyển</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    value="{{fee}}"
                    readonly
                    disabled
                  />
                </div>
                <div class="mb-3">
                  <label class="text mb-1">Lời nhắn</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    ng-model="ghiChu"
                    placeholder="Lưu ý tới người bán..."
                  />
                </div>

                <div class="row no-gutters">
                  <div class="col-sm-12 pr-sm-2">
                    <div class="mb-3">
                      <label for="NAME" class="text mb-1"
                        >Phương thức thanh toán</label
                      >
                      <select
                        class="form-select form-select-sm"
                        ng-model="isVNPAY"
                      >
                        <option ng-value="false">Thanh toán khi nhận</option>
                        <option ng-value="true">Thanh toán bằng VNPay</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="row justify-content-between">
                      <div class="col-4">
                        <p class="mb-1"><b>Tổng tiền sản phẩm</b></p>
                      </div>
                      <div class="flex-sm-col col-auto">
                        <p class="mb-1">{{tongTien}}</p>
                      </div>
                    </div>
                    <div class="row justify-content-between">
                      <div class="col">
                        <p class="mb-1"><b>Phí vận chuyển </b></p>
                      </div>
                      <div class="flex-sm-col col-auto">
                        <p class="mb-1"><b>{{fee}}</b></p>
                      </div>
                    </div>
                    <div class="row justify-content-between">
                      <div class="col">
                        <p class="mb-1"><b>Đơn vị vận chuyển </b></p>
                      </div>
                      <div class="flex-sm-col col-auto">
                        <p class="mb-1"><b>Giao Hàng Nhanh</b></p>
                      </div>
                    </div>
                    <div class="row justify-content-between">
                      <div class="col-4">
                        <p><b>Tổng</b></p>
                      </div>
                      <div class="flex-sm-col col-auto">
                        <p class="mb-1"><b>{{tongTien + fee}}</b></p>
                      </div>
                    </div>
                    <hr class="my-0" />
                  </div>
                </div>
                <div class="row mb-5 mt-4">
                  <div class="col-md-7 col-lg-2 mx-auto">
                    <button
                      type="button"
                      class="btn btn-block btn-outline-secondary btn-lg"
                      ng-click="thanhToan()"
                    >
                      THANH TOÁN
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--ket thuc thong tin-->
        </div>
      </div>
    </div>
  </div>
</div>
