<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragment/fragments:: page_head"></head>
<body>
<div th:fragment="menu">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Báo Cáo</div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Biểu Đồ
                    </a>
                    <div class="sb-sidenav-menu-heading">Menu</div>

                    <a class="nav-link collapsed" id="users" th:href="@{/users}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        User
                    </a>
                    <a class="nav-link collapsed" id="products" th:href="@{/products}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Product
                    </a>
                    <a class="nav-link collapsed" id="categories" th:href="@{/categories}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Categories
                    </a>
                    <a class="nav-link collapsed" id="brands" th:href="@{/brands}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Brands
                    </a>
                    <a class="nav-link collapsed" id="customers" th:href="@{/customers}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Customers
                    </a>
                    <a class="nav-link collapsed" id="cards" th:href="@{/cards}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Card
                    </a>
                    <a class="nav-link collapsed" id="cardsDetails" th:href="@{/cardsDetail}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        CardDetail
                    </a>
                    <a class="nav-link collapsed" id="orders" th:href="@{/orders}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Orders
                    </a>
                    <a class="nav-link collapsed" id="ordersDetail" th:href="@{/ordersDetail}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        OrdersDetail
                    </a>
                    <a class="nav-link collapsed" id="statisticals" th:href="@{/statisticals}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Statisticals
                    </a>
                    <a class="nav-link collapsed" id="posts" th:href="@{/posts}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Posts
                    </a>
                    <a class="nav-link collapsed" id="seri" th:href="@{/seri}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Seri
                    </a>
                    <a class="nav-link collapsed" id="straps" th:href="@{/straps}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Straps
                    </a>
                    <a class="nav-link collapsed" id="sizes" th:href="@{/sizes}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Sizes
                    </a>
                    <a class="nav-link collapsed" id="materials" th:href="@{/materials}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Materials
                    </a>
                    <a class="nav-link collapsed" id="colors" th:href="@{/colors}">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        Colors
                    </a>
                    <a class="nav-link collapsed" id="don-hang" th:href="@{/don-hang}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        DonHang
                    </a>
                    <a class="nav-link collapsed" id="ban-hang" th:href="@{/ban-hang}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        BanHang
                    </a>
                    <a class="nav-link collapsed" id="discounts" th:href="@{/discounts}" >
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        DisCounts
                    </a>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>
                    <a class="nav-link" href="tables.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Tables
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Quản Lý:</div>
                Đồng Hồ 5S
            </div>
        </nav>
    </div>
</div>
</body>